body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#section1 {

    background-image: url('images/donation5.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;

    padding: 50px;
}

.designatag {

    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 15px 10px;
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;

    border-radius: 5px;

}

h1 {

    font-size: 50px;
    font-weight: 800;
}

#section2 {

    text-align: center;


}

#sectionfour {

    text-align: center;
}


.text_section {

    margin-bottom: 40px;

}


.donate_amount {



    background-color: rgb(238, 235, 232);
    margin: 10px;
    padding: 30px 40px;
    margin-top: 200px;
    border-radius: 5px;
}

.donate_amount_active {

    background-color: rgb(252, 240, 228);
    margin: 10px;
    padding: 30px 40px;
    margin-top: 200px;
    border-radius: 5px;
    border-style: solid;
    border-color: brown;


}

#donate_amount_id {

    margin-bottom: 90px;
}

#section_two_text hr {

    width: 60%;
    color: silver;
    border-top: 3px solid silver;
}

#section_two_text {

    color: silver;
}

#sectionfive {

    display: flex;
    padding: 60px;
    margin-top: 0px;
}

#food-for-family {

    background-color: rgb(189, 233, 218);
    margin-right: 20px;
    padding: 30px;
    border-radius: 10px;
}

#shelter-for-family {

    background-color: rgb(255, 236, 239);
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 10px;


}


#education-for-child {

    background-color: rgb(247, 224, 183);
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 10px;


}

#sectionsix {

    display: flex;
    padding: 60px;
    margin-top: 0px;
}


.sectionsix-how-to-donate {


    width: 50%;
    margin-right: 20px;
    padding: 30px;
}

.sectionsix-image {

    width: 50%;
    padding: 30px;
    margin-left: 20px;
}

.sectionsix-image img {
    width: 100%;

    border-radius: 10px;
}


#sectionseven {

    display: flex;
    padding: 60px;
    margin-top: 0px;
}

#sectionnine {

    text-align: center;


}

#sectionsubcribe {

    margin: 50px 400px 100px 400px;
    padding: 40px;
    background-color: rgb(253, 232, 204);
}


input[type=text] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {

    width: 40%;
    padding: 10px;
    background-color: rgb(248, 66, 96);
    border-radius: 5px;
    border-color: rgb(248, 66, 96);
    color: white;
    font-weight: 700;
}


input[type=submit]:hover {

    background-color: #45a049;
}

#the-end {

    background-color: black;
    padding: 60px;
    text-align: center;
    color: white;
}

#the-end h2 {

    color: rgb(253, 110, 110);
}